# UNCaGED Dashboard Configuration Example
# Copy this to .env and change the values

# Admin Credentials
DASHBOARD_USER=admin
DASHBOARD_PASS=admin

# Security
# Generate a random string for SECRET_KEY (e.g., openssl rand -hex 32)
SECRET_KEY=yoursecretkeyhere

# Server Settings
PORT=5000
